# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Env
.env
.envrc

# Go
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
*.cover
*.prof
*.pprof
*.trace
coverage/
dist/
bin/
/cli2docker

# Editors
.vscode/
.idea/

# Misc
.tmp/
tmp/
